body {
    margin: 0;
    font-family: "Segoe UI", sans-serif;
    background-color: #c0ead5;
  }
  
  .profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  /* Header Image */
  .header-image {
    width: 100%;
    height: 190px;
    background-image: url("../../assets/scootersbg.png");
    background-size: cover;
    background-position: center;
    position: relative;
  }
  
  /* Profile Card */
  .profile-card {
    margin-top: -60px;
    background: #fff;
    padding: 1.5rem;
    border-radius: 12px;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 60%;
    position: relative;
    z-index: 1;
  }
  
  .profile-pic {
    width: 20%;
    height: 20%;
    border-radius: 50%;
    object-fit: cover;
    margin-top: -50px;
    border: 4px solid white;
  }
  
  .edit-btn {
    margin-top: 0.8rem;
    padding: 0.7rem 1.5rem;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
  }
  
  /* Stats Section */
  .stats {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin: 2rem 0;
  }
  
  .stat-box {
    text-align: center;
  }
  
  .stat-box h3 {
    font-size: 1.8rem;
    margin: 0;
  }
  
  .redeem-container {
    margin-bottom: 2rem;
  }
  
  .redeem-btn {
    padding: 0.6rem 1.5rem;
    background-color: #a5d6a7;
    color: black;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-weight: 500;
  }
  